.advantages-item {
  width: 280px;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    width: 100%;
    margin-bottom: 34px;
  }
}

.advantages-item__title {
  margin: 0;
  font-size: 18px;
  line-height: 24px;
  padding-bottom: 12px;

  @media (min-width: $desktop-width) {
    font-size: 30px;
    line-height: 30px;
  }
}

.advantages-item__description {
  margin: 0;
  font-size: 14px;
  line-height: 24px;

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 30px;
  }
}

.advantages-item__break {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}
