.advantages-item {
  width: $mobile-size-width;
  margin: 0 auto;
}

.advantages-item__title {
  margin: 0;
  font-size: 18px;
  line-height: 24px;
  padding-bottom: 15px;
}

.advantages-item__description {
  margin: 0;
  padding-bottom: 25px;
  font-size: 14px;
  line-height: 24px;
}
