.contacts {
  text-align: center;
  padding-top: 47px;
}

.contacts__wrapper {
  width: $mobile-size-width;
  margin: 0 auto;
}

.contacts__call {
  font-weight: 300;
  font-size: 24px;
  margin: 0;
  padding-bottom: 45px;
}
