.contacts-feedback {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  margin: 0;

  @media (min-width: $tablet-width) {
    line-height: 27px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 20px;
  }
}
