.downloads {
  position: relative;

  @media (min-width: $tablet-width) {
    padding-left: 20px;
    position: relative;
    z-index: 3;
  }

  @media (min-width: $desktop-width) {
    padding-left: 130px;
  }

  &::before {
    position: absolute;
    content: "";
    width: 320px;
    height: 286px;
    background-image: url("../img/hand-mobile.png");
    top: 85px;
    left: 50%;
    transform: translateX(-50%);
    pointer-events: none;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/hand-mobile@2x.png");
      background-size: contain;
    }

    @media (min-width: $tablet-width) {
      width: 660px;
      height: 545px;
      background-image: url("../img/hand-tablet.png");
      top: -20px;
      right: 0;
      z-index: -1;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/hand-tablet@2x.png");
        background-size: contain;
      }
    }

    @media (min-width: $desktop-width) {
      width: 1050px;
      height: 645px;
      background-image: url("../img/hand-desktop.png");
      top: 0;
      left: 56%;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/hand-desktop@2x.png");
        background-size: contain;
      }
    }
  }
}

.downloads__container {
  background-color: $basic-color;
  margin-top: 315px;
  padding: 28px 0 31px 0;

  @media (min-width: $tablet-width) {
    margin-top: 0;
    background-color: transparent;
    padding-top: 30px;
    padding-bottom: 113px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 36px;
  }
}

.downloads__wrapper {
  @media (min-width: $tablet-width) {
    width: 300px;
    margin: 0;
  }
}

.downloads__wrapper-slogan {
  @media (min-width: $tablet-width) {
    margin: 0;
    width: 300px;
    padding: 0 25px;
  }
}

.downloads__slogan {
  margin: 0;
  text-align: center;
  color: $basic-white;
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;

  @media (min-width: $tablet-width) {
    padding: 0 17px;
    font-size: 40px;
    line-height: 120%;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    font-size: 50px;
    line-height: 68px;
  }
}

.downloads__link {
  display: inline-block;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  color: $basic-white;
  border: 3px solid $basic-white;
  border-radius: 29px;
  box-sizing: border-box;
  width: 100%;
  padding: 15px 0;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 18px;
  }

  @media (min-width: $desktop-width) {
    font-size: 21px;
  }

  &:hover {
    background-color: $basic-white;
    color: $link-color;
  }

  &:active {
    background-color: $basic-white;
    color: $link-color-opacity;
  }
}

.downloads__list {
  @include list-reset;
  margin: 32px 0 18px 0;
  padding: 0 20px;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;

  @media (min-width: $tablet-width) {
    margin: 43px 0 30px 0;
    padding: 0 31px;
  }

  @media (min-width: $desktop-width) {
    margin: 67px 0 48px 0;
  }
}

.downloads__text {
  color: $basic-white;
  text-align: center;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 24px;
  }
}
