.downloads {
  @media (min-width: $tablet-width) {
    padding-left: 20px;
  }
}

.downloads__container {
  background-color: $basic-color;
  margin-top: 315px;
  padding: 28px 0 31px 0;

  @media (min-width: $tablet-width) {
    margin-top: 0;
    background-color: transparent;
    padding-top: 30px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 40px;
  }
}

.downloads__wrapper {
  @media (min-width: $tablet-width) {
    width: 300px;
    margin: 0;
  }
}

.downloads__wrapper-slogan {
  @media (min-width: $tablet-width) {
    margin: 0;
    width: 300px;
    padding: 0 25px;
  }
}

.downloads__slogan {
  margin: 0;
  text-align: center;
  color: $basic-white;
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;

  @media (min-width: $tablet-width) {
    padding: 0 17px;
    font-size: 40px;
    line-height: 120%;
  }

  @media (min-width: $desktop-width) {
    font-size: 50px;
    line-height: 68px;
  }
}

.downloads__link {
  display: inline-block;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  color: $basic-white;
  border: 3px solid $basic-white;
  border-radius: 29px;
  box-sizing: border-box;
  width: 100%;
  padding: 15px 0;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 18px;
  }

  @media (min-width: $desktop-width) {
    font-size: 21px;
  }
}

.downloads__list {
  @include list-reset;
  margin: 32px 0 18px 0;
  padding: 0 20px;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;

  @media (min-width: $tablet-width) {
    margin: 43px 0 30px 0;
    padding: 0 31px;
  }

  @media (min-width: $desktop-width) {
    margin: 67px 0 45px 0;
  }
}

.downloads__text {
  color: $basic-white;
  text-align: center;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 24px;
  }
}
