.reviews {
  text-align: center;
}

.reviews__control {
  display: none;

  @media (min-width: $desktop-width) {
    @include button-reset;
    display: block;
    top: 20%;
    position: absolute;
    content: "";
    width: 35px;
    height: 35px;
    background-repeat: no-repeat;

    &--prev {
      left: 0;
      border-top: 2px solid $basic-color;
      border-right: 2px solid $basic-color;
      opacity: 0.3;
      transform: rotate(-135deg);
    }

    &--next {
      right: 0;
      border-top: 2px solid $basic-color;
      border-right: 2px solid $basic-color;
      opacity: 0.3;
      transform: rotate(45deg);
    }

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.1;
    }
  }
}

.reviews__switch {
  @media (min-width: $tablet-width) {
    margin-top: 24px;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.reviews__list {
  margin-top: 40px;
  margin-bottom: 28px;

  @media (min-width: $tablet-width) {
    margin: 84px 0 16px;
  }

  @media (min-width: $desktop-width) {
    margin: 170px 0 9px;
    padding: 0 75px 20px;
    position: relative;
  }
}
