.reviews {
  text-align: center;
}

.reviews__control {
  display: none;

  @media (min-width: $desktop-width) {
    @include button-reset;
    display: block;
    top: 19%;
    position: absolute;
    padding: 0;

    &--prev {
      left: 0;
    }

    &--next {
      right: 0;
      transform: rotate(180deg);
    }
  }
}

.reviews__icon {
  opacity: 0.3;
}

.reviews__control:hover .reviews__icon {
  opacity: 0.6;
}

.reviews__control:active .reviews__icon {
  opacity: 0.1;
}

.reviews__switch {
  @media (min-width: $tablet-width) {
    margin-top: 24px;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.reviews__list {
  margin-top: 40px;
  margin-bottom: 28px;

  @media (min-width: $tablet-width) {
    margin: 84px 0 16px;
  }

  @media (min-width: $desktop-width) {
    margin: 170px 0 9px;
    padding: 0 75px 20px;
    position: relative;
  }
}
