.slider-switch__toggle {
  @include button-reset;

  &::before {
    content: "";
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: $opacity-blue;
  }

  &--current::before {
    border: 2px solid $basic-color;
  }
}
