.tariffs-data__function {
  display: none;
  font-size: 14px;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    display: block;
    text-transform: none;
    padding-left: 12px;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
    padding-left: 16px;
  }
}

.tariffs-data {
  &--empty {
    background-color: $basic-grey;
  }
}
