.tariffs-data-header {
  background-color: $basic-color;
  color: $basic-white;
  padding: 12px 20px 30px;

  @media (min-width: $tablet-width) {
    padding: 12px 20px 12px;
  }
}

.tariffs-data__name {
  margin: 0;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
}

.tariffs-data__price {
  margin: 0;
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
}

.tariffs-data__function {
  display: none;
  font-size: 14px;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    display: block;
    text-transform: none;
    padding-left: 12px;
  }
}

.tariffs-data--hit {
  position: relative;
}

.tariffs-data__symbol {
  position: absolute;
  content: "";
  top: 0;
  left: 0;

  @media (min-width: $tablet-width) {
    width: 61px;
    height: 61px;
  }
}

.tariffs-data--empty {
  background-color: $basic-grey;
}
