.tariffs {
  width: 100vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding-top: 98px;
  background-color: $basic-grey;

  @media (min-width: $tablet-width) {
    padding-top: 94px;
    padding-bottom: 70px;
  }
}

.tariffs__table {
  overflow: hidden;
  border-collapse: collapse;
  background-color: $basic-white;
}

.tariffs__data {
  padding: 14px 18px 15px;
  width: 276px;
  border: 1px solid $border-grey;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 153px;
    padding: 7px 0;
  }

  @media (min-width: $desktop-width) {
    width: 233px;
    padding: 19px 0;
  }

  &--pink {
    position: relative;
    display: flex;
    justify-content: space-between;

    &::before {
      content: "Розовый фильтр";
      font-size: 14px;
      line-height: 30px;

      @media (min-width: $tablet-width) {
        display: none;
      }
    }
  }

  &--smile {
    position: relative;
    display: flex;
    justify-content: space-between;

    &::before {
      content: "Смайлики";
      font-size: 14px;
      line-height: 30px;

      @media (min-width: $tablet-width) {
        display: none;
      }
    }
  }

  &--comments {
    position: relative;
    display: flex;
    justify-content: space-between;

    &::before {
      content: "Комментарии";
      font-size: 14px;
      line-height: 30px;

      @media (min-width: $tablet-width) {
        display: none;
      }
    }
  }
}

.tariffs__switch {
  display: flex;
  justify-content: center;
  padding: 45px 0;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.tariffs__row {
  display: flex;
}

.tariffs__icon {
  @media (min-width: $tablet-width) {
    margin: 0 auto;
  }
}
