.tariffs-data {
  &--ground {
    background-color: $basic-color;
    color: $basic-white;
  }

  &--border {
    border: 2px solid $basic-grey;
  }
}

.tariffs-data-header {
  padding: 12px 20px 25px;
}

.tariffs-data__name {
  margin: 0;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
}

.tariffs-data__price {
  margin: 0;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
}

.tariffs-data__function {
  display: none;
  font-size: 14px;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.tariffs-data--hit {
  position: relative;
}

.tariffs-data__symbol {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
}
