$basic-white: rgba(255, 255, 255, 1);
$basic-grey: rgb(242, 242, 242);
$border-grey: rgba(229, 229, 229, 1);
$basic-color: rgba(40, 54, 69, 1);
$opacity-blue: rgba(40, 54, 69, 0.3);
$opacity-dark-blue: rgba(40, 54, 69, 0.6);
$opacity-light-blue: rgba(40, 54, 69, 0.1);
$font-family: "Open Sans", "Arial", sans-serif;
$link-color: rgb(210, 40, 86);
$link-color-opacity: rgba(210, 40, 86, 0.3);
$button-green:  rgb(42, 171, 109);
$mobile-size-width: 280px;
