.copyright__text {
  font-size: 14px;
  line-height: 18px;
  margin-right: 15px;

  @media (min-width: $desktop-width) {
    font-size: 18px;
  }
}

.copyright__img {
  fill: $link-color;
}

.copyright__link:hover .copyright__img {
  fill: $basic-color;
}

.copyright__link:active .copyright__img {
  fill: $basic-color;
  opacity: 0.3;
}
