.page-footer__wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 40px 0 33px 0;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    padding: 3px 0 8px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 3px 0 39px 0;
  }
}

.page-footer__copyright {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;

  @media (min-width: $tablet-width) {
    padding-top: 8px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.page-footer__img {
  @media (min-width: $desktop-width) {
    width: 147px;
    height: 40px;
  }
}
