.page-footer__wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 40px 0 33px 0;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-around;
  }
}

.page-footer__copyright {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
