.page-header {
  width: 100%;
  margin: 0 auto;
  min-height: 733px;
  overflow: hidden;
  background-color: $basic-color;

  &--picture {
    background-image: url("../img/bg.jpg");

    @media (min-width: $tablet-width) {
      min-height: 729px;
      background-image: url("../img/bg-tablet.jpg");
      background-position: center;
      background-repeat: no-repeat;
    }

    @media (min-width: $desktop-width) {
      min-height: 853px;
      background-image: url("../img/bg-desktop.jpg");
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  &--inner-background {
    position: relative;
    min-height: 236px;
    background-repeat: no-repeat;
  }
}

.page-header__container {
  background-color: rgba(0, 0, 0, 0.3);
  margin-bottom: 29px;
  min-height: 66px;

  @media (min-width: $tablet-width) {
    min-height: 110px;
    margin-bottom: 102px;
  }

  @media (min-width: $desktop-width) {
    min-height: 110px;
    margin-bottom: 114px;
  }
}

.page-header__wrapper {
  display: flex;
  padding: 19px 0 18px 0;

  @media (min-width: $desktop-width) {
    padding-top: 48px;
  }
}

.page-header__title {
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  color: $basic-white;
  width: $mobile-size-width;
  margin: 0 auto;
}

.page-header__slogan {
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  color: $basic-white;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 50px;
    line-height: 68px;
  }
}
