.page-header {
  background-color: rgba(0, 0, 0, 0.3);
  width: 320px;
  margin: 0 auto;
  min-height: 66px;

  &--picture {
    position: relative;
  }

  &--picture::before {
    content: "";
    position: absolute;
    width: 320px;
    height: 462px;
    background-image: url("../img/inner-bg.jpg"),;
    background-repeat: no-repeat;
    z-index: -2;
  }

  &--picture::after {
    content: "";
    position: absolute;
    width: 320px;
    height: 286px;
    top: 180px;
    background-image: url("../img/hand-bg.png");
    background-repeat: no-repeat;
    z-index: -1;
  }

  &--inner-background {
    position: relative;
    min-height: 236px;
  }

  &--inner-background::before {
    content: "";
    position: absolute;
    width: 320px;
    height: 236px;
    background-image: url("../img/inner-bg.jpg");
    background-repeat: no-repeat;
    z-index: -1;
  }
}

.page-header__wrapper {
  width: $mobile-size-width;
  margin: 0 auto;
  display: flex;
  position: relative;
  padding: 19px 0 18px 0;
}

.page-header__title {
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  color: $basic-white;
  width: $mobile-size-width;
  margin: 0 auto;
}
