.page-header {
  width: 100%;
  margin: 0 auto;
  min-height: 733px;
  overflow: hidden;
  background-color: #283645;
  z-index: -2;

  @media (min-width: $tablet-width) {
    min-height: 729px;
  }

  @media (min-width: $desktop-width) {
    min-height: 853px;
  }

  &--picture {
    background-image: url("../img/bg.jpg");

    @media (min-width: $tablet-width) {
      background-image: url("../img/bg-tablet.jpg");
      width: 660px;
      height: 729px;
      background-position: center;
      background-repeat: no-repeat;
    }

    @media (min-width: $desktop-width) {
      background-image: url("../img/bg-desktop.jpg");
      // width: 2560px;
      // height: 853px;
      width: 1200px;
      height: 853px;
      background-position: center;
    }
  }

  &--inner-background {
    position: relative;
    min-height: 236px;
  }

  &--inner-background::before {
    content: "";
    position: absolute;
    width: 320px;
    height: 236px;
    background-image: url("../img/inner-bg.jpg");
    background-repeat: no-repeat;
    z-index: -1;
  }
}

.page-header__container {
  background-color: rgba(0, 0, 0, 0.3);
  margin-bottom: 29px;
  min-height: 66px;

  @media (min-width: $tablet-width) {
    min-height: 110px;
    margin-bottom: 102px;
  }

  @media (min-width: $desktop-width) {
    min-height: 110px;
    margin-bottom: 114px;
  }
}

.page-header__wrapper {
  width: $mobile-size-width;
  margin: 0 auto;
  display: flex;
  padding: 19px 0 18px 0;

  @media (min-width: $tablet-width) {
    width: $tablet-size-width;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-size-width;
    padding-top: 48px;
  }
}

.page-header__title {
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  color: $basic-white;
  width: $mobile-size-width;
  margin: 0 auto;
}
