.social {
  margin: 35px 0;

  @media (min-width: $tablet-width) {
    margin: 36px 0;
    padding-right: 15px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 0;
    padding-left: 10px;
  }
}

.social__list {
  @include list-reset;
  display: flex;
  justify-content: space-around;
}

.social__item {
  border: 3px solid rgba(40, 54, 69, 0.1);
  border-radius: 50%;
}

.social__item:not(:last-child) {
  margin-right: 9px;
}

.social__link {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}
