.toggle {
  @include button-reset;
  display: none;
  position: relative;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  width: 50px;
  height: 24px;
  margin-right: 20px;
  margin-top: 20px;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-top: 15px;
  }

  // Кнопка при закрытом состоянии меню
  &--close {
    display: flex;

    &::after {
      content: "";
      width: 50px;
      height: 4px;
      position: absolute;
      top: 0;
      right: 0;
      background-color: $basic-white;
      box-shadow: 0 10px 0 0 $basic-white, 0 20px 0 0 $basic-white;
    }

    @media (min-width: $desktop-width) {
      display: none;
    }

    &:hover::after {
      background-color: $link-color;
      box-shadow: 0 10px 0 0 $link-color, 0 20px 0 0 $link-color;
    }

    &:active::after {
      background-color: $link-color;
      box-shadow: 0 10px 0 0 $link-color, 0 20px 0 0 $link-color;
      opacity: 0.3;
    }
  }

  // Кнопка при открытом состоянии меню
  &--open {
    display: flex;

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 30px;
      height: 2px;
      background-color: $basic-white;
      right: 0;
      top: 50%;
    }

    &::before {
      transform: rotate(45deg);
      box-shadow: none;
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

  &:hover::before,
  &:hover::after {
    background-color: $link-color;
  }

  &:active::before,
  &:active::after {
    background-color: $link-color;
    opacity: 0.3;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }

  // Кнопка отсутствует при выключенном JS
  &--no-js {
    display: none;
  }
}
