.photos-item {
  @media (min-width: $tablet-width) {
    width: 300px;
  }
}

.photos-item__statement {
  width: 100%;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    min-height: 155px;
    display: flex;
    flex-direction: column;
    padding: 23px 30px;
  }
}

.photos-item__wrapper {
  margin-top: 20px;

  @media (min-width: $tablet-width) {
    margin-top: 0;
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 55px;
  }
}
