.photos {
  padding-top: 45px;

  @media (min-width: $tablet-width) {
    padding-top: 90px;
  }
}

.photos__list {
  @include list-reset;
  margin: auto;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.photos__intro {
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  margin: 0;
  padding: 0 15px;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 150px;
  }
}

.photos__main {
  margin-top: 50px;
  position: relative;

  @media (min-width: $tablet-width) {
    margin-top: 78px;
    margin-bottom: 56px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 90px;
    margin-bottom: 53px;
  }
}

.photos__main-link {
  margin: 0 auto;
}

.photos__symbol {
  position: absolute;
  display: inline-block;
  top: 0;
  right: 20px;
  font-weight: bold;
  font-size: 12px;
  line-height: 24px;
  padding: 6px 20px;
  margin: 0;
  color: $basic-white;
  text-transform: uppercase;
  background-color: $link-color;

  @media (min-width: $tablet-width) {
    top: 57px;
  }

  @media (min-width: $desktop-width) {
    right: 130px;
  }
}
