.photos-main__statement {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    padding: 22px 27px 19px 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 22px 27px 22px 30px;
  }
}
