.photos {
  padding-top: 54px;

  @media (min-width: $tablet-width) {
    padding-top: 100px;
  }
}

.photos__list {
  @include list-reset;
  margin: auto;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.photos__intro {
  font-size: 14px;
  line-height: 30px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 150px;
  }
}

.photos__main-link {
  margin: 0 auto;
}
