.photos-item {
  @media (min-width: $tablet-width) {
    width: 300px;
  }
}

.photos-item__statement {
  width: 100%;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    min-height: 155px;
  }
}

.photos-item__wrapper {
  margin-top: 20px;
}
