.photos-blockquote {
  padding: 14px 10px 26px 17px;
  background-color: #f2f2f2;
}

.photos-blockquote__user {
  display: inline-block;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  font-style: normal;

  &--state {
    @media (min-width: $tablet-width) {
      grid-column-start: 1;
      grid-column-end: 2;
    }
  }
}

.photos-blockquote__time {
  display: inline-block;
  margin: 0;
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
}

.photos-blockquote__text {
  margin: 0;
  font-size: 14px;
  line-height: 24px;

  &--state {
    @media (min-width: $tablet-width) {
      grid-column-start: 1;
      grid-column-end: 3;
    }
  }
}

.photos-blockquote__like {
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: $link-color;
  background-image: url("../img/heart.svg");
  background-repeat: no-repeat;
  background-position-y: center;
  padding-left: 30px;
  margin-top: 15px;
  margin-bottom: 0;

  &--state {
    @media (min-width: $tablet-width) {
      margin: 0;
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 2;
    }
  }
}
