.photo-link__picture {
  margin: auto;
  width: 100%;

  @media (min-width: $tablet-width) {
    width: 300px;
    height: 300px;
  }

  @media (min-width: $desktop-width) {
    height: 400px;
  }

  &--main {
    @media (min-width: $tablet-width) {
      width: 100%;
      height: 509px;
    }

    @media (min-width: $desktop-width) {
      height: 506px;
    }
  }
}
