.photos-blockquote {
  padding: 17px 9px 19px 17px;
  background-color: #f2f2f2;

  @media (min-width: $tablet-width) {
    padding: 23px 9px 19px 30px;
  }
}

.photos-blockquote__user {
  display: inline-block;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  font-style: normal;

  &--state {
    @media (min-width: $tablet-width) {
      grid-column-start: 1;
      grid-column-end: 2;
    }
  }
}

.photos-blockquote__time {
  display: inline-block;
  margin: 0;
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
}

.photos-blockquote__text {
  margin: 0;
  font-size: 14px;
  line-height: 24px;

  &--state {
    @media (min-width: $tablet-width) {
      grid-column-start: 1;
      grid-column-end: 3;
    }
  }
}

.photos-blockquote__like {
  position: relative;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: $link-color;
  padding-left: 30px;
  margin-top: 11px;
  margin-bottom: 0;

  &::before {
    position: absolute;
    content: "";
    width: 13px;
    height: 12px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-image: url("../img/heart.svg");
    background-repeat: no-repeat;
    background-position-y: center;

    @media (min-width: $tablet-width) {
      right: 0;
      left: auto;
    }
  }

  @media (min-width: $tablet-width) {
    padding-left: 0;
    margin-top: auto;
  }

  &--state {
    @media (min-width: $tablet-width) {
      margin: 0;
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 2;
      text-align: right;
      padding-right: 30px;
      align-self: end;
    }
  }
}

.photos-blockquote__break {
  @media (min-width: $tablet-width) {
    display: none;
  }
}
