.photos-item__statement {
  width: $mobile-size-width;
  margin: 0 auto;
  background-color: $basic-grey;
}

.photos-item__wrapper {
  width: $mobile-size-width;
  margin: 0 auto;
  margin-top: 20px;
}
