.range-photo-editor__scale {
  position: relative;
  width: 240px;
  height: 2px;
  background-color: $basic-color;
  margin-left: 20px;

  // &::before,
  // &--color::before,
  // &--correction::before,
  // &--contrast::before {
  //   position: absolute;
  //   content: "";
  //   width: 14px;
  //   height: 14px;
  //   background-color: $basic-white;
  //   border: 2px solid $link-color;
  //   border-radius: 50%;
  //   top: 50%;
  //   transform: translateY(-50%);
  //   left: 193px;
  // }

  // &--color::before {
  //   @media (min-width: $tablet-width) {
  //     left: 31px;
  //   }

  //   @media (min-width: $desktop-width) {
  //     left: 245px;
  //   }
  // }

  // &--correction::before {
  //   @media (min-width: $tablet-width) {
  //     left: 150px;
  //   }

  //   @media (min-width: $desktop-width) {
  //     left: 68px;
  //   }
  // }

  // &--contrast::before {
  //   @media (min-width: $tablet-width) {
  //     left: 102px;
  //   }

  //   @media (min-width: $desktop-width) {
  //     left: 157px;
  //   }
  // }

  @media (min-width: $tablet-width) {
    width: 202px;
  }

  @media (min-width: $desktop-width) {
    width: 288px;
  }
}

.range-photo-editor {
  &--state {
    display: none;

    @media (min-width: $tablet-width) {
      display: block;
    }
  }

  &--hide {
    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}

.range-photo-editor__switch {
  position: absolute;
  width: 14px;
  height: 14px;
  background-color: $basic-white;
  border: 2px solid $link-color;
  border-radius: 50%;
  transform: translateY(-50%);
  left: 213px;

  &--color {
    @media (min-width: $tablet-width) {
      left: 50px;
    }

    @media (min-width: $desktop-width) {
      left: 265px;
    }
  }

  &--correction {
    @media (min-width: $tablet-width) {
      left: 172px;
    }

    @media (min-width: $desktop-width) {
      left: 87px;
    }
  }

  &--contrast {
    @media (min-width: $tablet-width) {
      left: 120px;
    }

    @media (min-width: $desktop-width) {
      left: 175px;
    }
  }
}
