.entry {
  margin: 0 auto;
}

.entry__wrapper {
  margin-top: 45px;

  @media (min-width: $tablet-width) {
    margin-top: 86px;
    margin-bottom: 42px;
  }
}

.entry__text {
  margin: 0;
  font-size: 14px;
  line-height: 30px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 18px;
  }
}

.entry__text-request {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    margin: 0;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
  }
}

.entry__text-wrapper {
  @media (min-width: $tablet-width) {
    padding: 0 65px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 90px;
  }
}
