.form-fieldset {
  border: none;
  padding: 0;

  @media (min-width: $desktop-width) {
    border: 2px solid $border-grey;
  }

  &--contacts {
    @media (min-width: $tablet-width) {
      padding: 0 60px;
      margin-top: 30px;
      grid-row-start: 3;
      grid-row-end: 4;
      border: 2px solid $border-grey;
    }

    @media (min-width: $desktop-width) {
      width: 100%;
      margin-top: 18px;
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 3;
    }
  }

  &--data {
    @media (min-width: $desktop-width) {
      width: 430px;
      border: none;
    }
  }
}

.form-fieldset__wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 56px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 41px;
    padding-top: 16px;
  }

  &--contacts {
    @media (min-width: $tablet-width) {
      display: flex;
      flex-direction: column;
      margin-bottom: 23px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 7px;
    }
  }
}

.form-fieldset__label {
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  color: $link-color;
  padding-left: 22px;
  margin-bottom: 6px;

  @media (min-width: $tablet-width) {
    padding-left: 0;
    padding-top: 17px;
    padding-right: 17px;
  }

  &--contacts {
    @media (min-width: $tablet-width) {
      padding-left: 17px;
      padding-top: 12px;
      order: 2;
      position: relative;
    }
  }

  &--tel,
  &--email {
    @media (min-width: $tablet-width) {
      &::before {
        position: absolute;
        content: "";
        right: 0;
        top: -60px;
        width: 59px;
        height: 59px;
        background-color: $border-grey;
        background-repeat: no-repeat;
        background-position: 50% 50%;
      }
    }
  }

  &--tel::before {
    @media (min-width: $tablet-width) {
      background-image: url("../img/phone-icon.svg");
    }
  }

  &--email::before {
    @media (min-width: $tablet-width) {
      background-image: url("../img/mail-icon.svg");
    }
  }
}

.form-fieldset__input {
  font-size: 18px;
  line-height: 30px;
  font-family: inherit;
  color: $basic-color;
  width: 100%;
  min-height: 60px;
  border: 2px solid $border-grey;
  padding-left: 25px;
  padding-top: 3px;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    padding-left: 22px;
  }

  &:hover {
    border: 2px solid $basic-color;
  }

  &:active {
    border: 2px solid $link-color;
  }
}
