.form-popup {
  margin: 0 auto;
  width: 320px;
  background-color: $basic-white;
  box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15);

  @media (min-width: $tablet-width) {
    width: 460px;
  }

  @media (min-width: $desktop-width) {
    width: 780px;
  }

  &--accept {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 1234px;

    @media (min-width: $tablet-width) {
      top: 685px;
    }

    @media (min-width: $desktop-width) {
      top: 670px;
    }
  }

  &--reject {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 760px;

    @media (min-width: $tablet-width) {
      top: 212px;
    }
  }
}

.form-popup__warning {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  margin: 0;

  @media (min-width: $tablet-width) {
    padding: 0 20px;
    font-size: 18px;

    @media (min-width: $desktop-width) {
      padding: 0 58px;
    }
  }

  &--font {
    font-weight: bold;
    font-size: 18px;
    color: $basic-black;
    margin-bottom: 25px;

    @media (min-width: $tablet-width) {
      padding: 0 65px;
      font-size: 30px;
      line-height: 40px;
      margin-bottom: 24px;
    }
  }
}

.form-popup__button {
  @include button-reset;
  margin: 0 auto;
  padding: 15px 0;
  width: 100%;
  display: block;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color: $basic-white;
  text-transform: uppercase;
  background-color: $button-green;

  @media (min-width: $desktop-width) {
    &--size {
      width: 296px;
    }
  }
}

.form-popup__button-container {
  padding: 50px 22px 52px;

  @media (min-width: $tablet-width) {
    padding: 50px 82px 54px;
  }

  @media (min-width: $desktop-width) {
    padding: 52px 162px 52px;
    background-color: $basic-grey;
  }

  &--color {
    background-color: $basic-grey;
    margin-top: 35px;

    @media (min-width: $tablet-width) {
      margin-top: 28px;
    }

    @media (min-width: $desktop-width) {
      margin-top: 0;
    }
  }

  &--position {
    padding-top: 43px;

    @media (min-width: $tablet-width) {
      padding-top: 32px;
    }

    @media (min-width: $desktop-width) {
      margin-top: 20px;
      padding-top: 47px;
    }
  }
}

.form-popup__wrapper {
  padding: 38px 20px 0;

  @media (min-width: $tablet-width) {
    padding: 45px 55px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 32px 125px 44px;
  }
}

.form-popup__break {
  @media (min-width: $tablet-width) {
    display: none;
  }
}
