.form-fieldset {
  border: none;
  padding: 0;

  @media (min-width: $desktop-width) {
    border: 2px solid $border-grey;
  }
}

.form-fieldset__wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 56px;
  }
}

.form-fieldset__label {
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  color: $link-color;
  padding-left: 22px;
  margin-bottom: 6px;

  @media (min-width: $tablet-width) {
    padding-left: 0;
    padding-top: 17px;
    padding-right: 17px;
  }
}

.form-fieldset__input {
  font-size: 18px;
  line-height: 30px;
  color: $basic-color;
  width: 100%;
  min-height: 60px;
  border: 2px solid $border-grey;
  padding-left: 25px;
  padding-top: 3px;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    padding-left: 22px;
  }
}

.form-fieldset--contacts {
  @media (min-width: $tablet-width) {
    padding: 0 60px;
    margin-top: 30px;
    grid-row-start: 3;
    grid-row-end: 4;
    border: 2px solid $border-grey;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }
}

.form-fieldset--data {
  @media (min-width: $desktop-width) {
    width: 430px;
  }
}

.form-fieldset__wrapper--contacts {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    margin-bottom: 23px;
  }
}

.form-fieldset__label--contacts {
  @media (min-width: $tablet-width) {
    padding-left: 17px;
    padding-top: 12px;
    order: 2;
  }
}
