.form-selection {
  border: none;
  padding: 0;

  @media (min-width: $tablet-width) {
    width: 620px;
    margin: 0 auto;
    border: 2px solid $border-grey;
    background-color: transparent;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }

  &--app {
    @media (min-width: $tablet-width) {
      grid-row-start: 2;
      grid-row-end: 3;
    }
  }

  &--achievements {
    @media (min-width: $tablet-width) {
      margin-top: 57px;
    }
  }
}

.form-selection__wrapper {
  @media (min-width: $tablet-width) {
    width: 100%;
  }
}

.form-selection__subtitle {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: $link-color;
  padding: 0 48px;
  margin-bottom: 45px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    padding: 0 20px;
  }

  @-moz-document url-prefix("") {
    @media (min-width: $tablet-width) {
      margin: 0 auto;
    }
  }
}

.form-selection__list {
  @include list-reset;

  @media (min-width: $tablet-width) {
    padding: 50px 60px 17px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 48px 58px 17px;
    gap: 0 50px;
  }

  &--app {
    @media (min-width: $desktop-width) {
      display: flex;
      flex-direction: column;
      padding: 48px 74px 17px;
    }
  }

  &--achievements {
    @media (min-width: $tablet-width) {
      padding-bottom: 3px;
    }
  }
}

.form-selection__label {
  font-size: 18px;
  line-height: 30px;
  position: relative;
  padding-left: 60px;
  padding-top: 10px;
  padding-bottom: 4px;
  cursor: pointer;

  &--app {
    padding-left: 70px;

    @media (min-width: $tablet-width) {
      padding-left: 60px;
    }
  }
}

.form-selection__input + .form-selection__label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 39px;
  height: 39px;
  background-color: $basic-white;
  background-repeat: no-repeat;
  background-position: 0 0;
  border: 2px solid $border-grey;
  border-radius: 1px;
}

.form-selection__input:checked + .form-selection__label::before {
  background-image: url("../img/tick.svg");
  background-position: 50% 50%;
}

.form-selection__radio + .form-selection__label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 39px;
  height: 39px;
  background-color: $basic-white;
  background-repeat: no-repeat;
  background-position: 0 0;
  border: 2px solid $border-grey;
  border-radius: 50%;
}

.form-selection__radio:checked + .form-selection__label::after {
  content: "";
  position: absolute;
  left: 12px;
  top: 30%;
  width: 15px;
  height: 15px;
  background-color: $link-color;
  background-position: 50% 50%;
  border-radius: 50%;
}

.form-selection__input:hover + .form-selection__label::before,
.form-selection__radio:hover + .form-selection__label::before {
  border: 2px solid $basic-color;
}

.form-selection__input:active + .form-selection__label::before,
.form-selection__radio:active + .form-selection__label::before {
  border: 2px solid $link-color;
}

.form-selection__item {
  margin-bottom: 51px;

  &--app {
    margin-bottom: 43px;

    @media (min-width: $desktop-width) {
      margin-bottom: 45px;
    }
  }

  &--beach {
    @media (min-width: $desktop-width) {
      grid-row-start: 2;
      grid-row-end: 3;
      grid-column-start: 1;
      grid-column-end: 2;
    }
  }

  &--souvenirs {
    @media (min-width: $desktop-width) {
      grid-row-start: 2;
      grid-row-end: 3;
      grid-column-start: 2;
      grid-column-end: 3;
    }
  }
}
