.advantages {
  position: relative;
  padding-top: 46px;

  &::after {
    position: absolute;
    content: "";
    width: 157px;
    height: 320px;
    bottom: 0;
    left: 25%;
    background-image: url("../img/smile-phone.jpg");
  }
}

.advantages__wrapper {
  width: $mobile-size-width;
  margin: 0 auto;
}

.advantages__text {
  margin: 0;
  font-weight: 300;
  font-size: 24px;
  text-align: center;
  padding-bottom: 35px;
}

.advantages__list {
  margin: 0;
  padding: 50px 0 48px 0;
  list-style: none;
  text-align: center;
  background-color: rgb(242, 242, 242);
  min-height: 750px;
}
