.contacts-feedback {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  margin: 0;
  padding-bottom: 35px;
}

.contacts-feedback__link {
  text-decoration: none;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  color: $link-color;
}
