.downloads {
  background-color: $basic-color;
}

.downloads__wrapper {
  width: 280px;
  margin: 0 auto;
  padding: 28px 29px 38px 0;
}

.downloads__slogan {
  margin: 0;
  text-align: center;
  color: $basic-white;
  font-weight: 300;
  font-size: 24px;
}

.downloads__link {
  display: inline-block;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  color: $basic-white;
  border: 3px solid $basic-white;
  border-radius: 29px;
  box-sizing: border-box;
  padding: 15px 35px;
}

.downloads__list {
  @include reset;
  margin: 32px 0;
  display: flex;
  justify-content: space-around;
}

.downloads__text {
  color: $basic-white;
  text-align: center;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  margin: 0;
}
