.form__button {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: $basic-white;
  background-color: rgb(42, 171, 109);
  border: 2px solid rgb(42, 171, 109);
  border-radius: 1px;
  padding: 12px 44px;
}

.form__wrapper-button {
  width: $mobile-size-width;
  margin: 0 auto;
}

.form__legend {
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;

  &--star {
    color: $link-color;
  }
}
