.page-footer {
  width: $mobile-size-width;
  margin: 0 auto;
}

.page-footer__wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 40px 0;
}

.page-footer__copyright {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
