.page-header {
  background-color: rgba(0, 0, 0, 0.3);

  &--picture {
    position: relative;
    min-height: 462px;
  }

  &--picture::before {
    content: "";
    position: absolute;
    width: 320px;
    height: 462px;
    background-image: url("../img/bg.jpg");
    background-repeat: no-repeat;
    z-index: -1;
  }

  &--inner-background {
    position: relative;
    min-height: 236px;
  }

  &--inner-background::before {
    content: "";
    position: absolute;
    width: 320px;
    height: 236px;
    background-image: url("../img/inner-bg.jpg");
    background-repeat: no-repeat;
    z-index: -1;
  }
}

.page-header__wrapper {
  width: $mobile-size-width;
  margin: 0 auto;
  display: flex;
  position: relative;
  padding: 19px 0 18px 0;
}


.page-header__slogan {
  margin: 0;
  text-align: center;
  color: $basic-white;
  font-weight: 300;
  font-size: 24px;
}

.page-header__wrapper-slogan {
  width: $mobile-size-width;
  margin: 0 auto;
  padding-top: 29px;
}
