.reviews {
  &__wrapper {
    width: $mobile-size-width;
    margin: 0 auto;
    text-align: center;
    padding: 50px 0;
  }
}

.reviews-item {
  margin: 0;

  &__author-name {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
  }

  &__text {
    font-size: 14px;
    line-height: 30px;
    margin: 31px 0 45px;
  }

  &__author-info {
    display: none;
  }
}
