.tariffs-data__name {
  font-size: 16px;
  line-height: 30px;
}

.tariffs-data__price {
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
}

.tariffs-data__function {
  font-size: 14px;
  line-height: 30px;
}

.tariffs-data {
  &--ground {
    background-color: $basic-color;
    color: $basic-white;
  }
}
