$basic-white: rgba(255, 255, 255, 1);
$basic-grey: rgb(242, 242, 242);
$border-grey: rgba(229, 229, 229, 1);
$basic-color: rgb(40, 54, 69);
$mobile-size-width: 280px;
$font-family: "Open Sans", "Arial", sans-serif;
$link-color: rgb(210, 40, 86);
$button-green:  rgb(42, 171, 109);
