@charset "UTF-8";
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/opensans.woff") format("woff"), url("../fonts/opensans.woff2") format("woff2"); }

@font-face {
  font-family: "Open Sans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/opensansbold.woff2") format("woff2"), url("../fonts/opensansbold.woff") format("woff"); }

@font-face {
  font-family: "Open Sans";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/opensanslight.woff2") format("woff2"), url("../fonts/opensanslight.woff") format("woff"); }

html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

a {
  text-decoration: none; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

.page__body {
  font-family: "Open Sans", "Arial", sans-serif;
  color: #283645;
  min-width: 320px;
  min-height: 100%;
  display: grid;
  grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  margin: 0; }

.page-header {
  width: 100%;
  margin: 0 auto;
  min-height: 733px;
  overflow: hidden;
  background-color: #283645; }
  .page-header--picture {
    position: relative;
    background-image: url("../img/back-mobile.jpg");
    background-repeat: no-repeat;
    background-position-x: center;
    z-index: -2; }
    .page-header--picture::before {
      position: absolute;
      content: "";
      width: 320px;
      height: 286px;
      background-image: url("../img/hand-mobile.png");
      top: 174px;
      left: 0;
      z-index: -1; }
      @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
        .page-header--picture::before {
          background-image: url("../img/hand-mobile@2x.png");
          background-size: contain; } }
      @media (min-width: 660px) {
        .page-header--picture::before {
          width: 660px;
          height: 545px;
          background-image: url("../img/hand-tablet.png");
          top: 184px;
          left: 0; } }
  @media (min-width: 660px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 660px) and (min-resolution: 2dppx) {
    .page-header--picture::before {
      background-image: url("../img/hand-tablet@2x.png");
      background-size: contain; } }
      @media (min-width: 960px) {
        .page-header--picture::before {
          width: 1050px;
          height: 645px;
          background-image: url("../img/hand-desktop.png");
          top: 207px;
          right: 0;
          left: auto; } }
  @media (min-width: 960px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 960px) and (min-resolution: 2dppx) {
    .page-header--picture::before {
      background-image: url("../img/hand-desktop@2x.png");
      background-size: contain; } }
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
      .page-header--picture {
        background-image: url("../img/back-mobile@2x.jpg");
        background-size: contain; } }
    @media (min-width: 660px) {
      .page-header--picture {
        min-height: 729px;
        background-image: url("../img/back-tablet.jpg"); } }
  @media (min-width: 660px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 660px) and (min-resolution: 2dppx) {
    .page-header--picture {
      background-image: url("../img/back-tablet@2x.jpg");
      background-size: cover; } }
    @media (min-width: 960px) {
      .page-header--picture {
        min-height: 853px;
        background-image: url("../img/back-desktop.jpg"); } }
  @media (min-width: 960px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 960px) and (min-resolution: 2dppx) {
    .page-header--picture {
      background-image: url("../img/back-desktop@2x.jpg");
      background-size: cover; } }
  .page-header--inner-background {
    position: relative;
    min-height: 236px;
    background-repeat: no-repeat; }
    @media (min-width: 660px) {
      .page-header--inner-background {
        min-height: 440px; } }
    @media (min-width: 960px) {
      .page-header--inner-background {
        min-height: 394px; } }

.page-header__container {
  background-color: rgba(0, 0, 0, 0.3);
  margin-bottom: 24px;
  min-height: 66px; }
  @media (min-width: 660px) {
    .page-header__container {
      min-height: 110px;
      margin-bottom: 95px; } }
  @media (min-width: 960px) {
    .page-header__container {
      min-height: 110px;
      margin-bottom: 100px; } }
  @media (min-width: 660px) {
    .page-header__container--inner {
      margin-bottom: 65px; } }

.page-header__wrapper {
  display: flex;
  padding: 19px 0 18px 0; }
  @media (min-width: 660px) {
    .page-header__wrapper {
      padding: 28px 0 43px 0; } }
  @media (min-width: 960px) {
    .page-header__wrapper {
      padding-top: 25px; } }

.page-header__title {
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  color: white;
  margin-top: 33px; }
  @media (min-width: 660px) {
    .page-header__title {
      font-size: 50px;
      line-height: 68px;
      padding: 0 130px; } }
  @media (min-width: 960px) {
    .page-header__title {
      padding: 0 150px; } }

.page-header__slogan {
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  color: white;
  text-align: center;
  margin-top: 33px; }
  @media (min-width: 660px) {
    .page-header__slogan {
      font-size: 50px;
      line-height: 68px;
      margin-top: 82px; } }
  @media (min-width: 960px) {
    .page-header__slogan {
      margin-top: 60px; } }

@media (min-width: 660px) {
  .page-header__img {
    width: 145px;
    height: 40; } }

@media (min-width: 960px) {
  .page-header__img {
    width: 147px; } }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.container {
  width: 280px;
  margin: 0 auto; }
  @media (min-width: 660px) {
    .container {
      width: 620px;
      margin: 0 auto; } }
  @media (min-width: 960px) {
    .container {
      width: 940px;
      margin: 0 auto; } }

.main-nav {
  width: auto;
  display: flex;
  flex-direction: column;
  margin-left: auto; }
  @media (min-width: 660px) {
    .main-nav {
      margin-top: auto; } }
  @media (min-width: 960px) {
    .main-nav {
      flex-direction: row;
      flex-grow: 1; } }

.main-nav__toggle {
  background-color: transparent;
  border: none;
  position: relative;
  margin-left: auto;
  width: 50px;
  height: 24px; }
  .main-nav__toggle::after {
    content: "";
    width: 50px;
    height: 4px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: white;
    box-shadow: 0 10px 0 0 white, 0 20px 0 0 white; }
  @media (min-width: 960px) {
    .main-nav__toggle {
      display: none; } }
  .main-nav__toggle:hover::after {
    background-color: #d22856;
    box-shadow: 0 10px 0 0 #d22856, 0 20px 0 0 #d22856; }
  .main-nav__toggle:active::after {
    background-color: #d22856;
    box-shadow: 0 10px 0 0 #d22856, 0 20px 0 0 #d22856;
    opacity: 0.3; }

.main-nav__toggle--close::before, .main-nav__toggle--close::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: white; }

.main-nav__toggle--close::before {
  transform: rotate(45deg);
  box-shadow: none; }

.main-nav__toggle--close::after {
  transform: rotate(-45deg); }

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  position: absolute;
  left: 0;
  top: 66px;
  text-align: center;
  display: none; }
  @media (min-width: 960px) {
    .main-nav__list {
      display: flex;
      flex-wrap: wrap;
      position: static;
      margin-left: 173px;
      justify-content: space-between; } }

.main-nav__link {
  position: relative;
  display: block;
  padding: 15px 0;
  font-size: 18px;
  line-height: 32px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  background-color: #283645;
  border-bottom: 1px solid #000000;
  border-top: 1px solid rgba(255, 255, 255, 0.15); }
  @media (min-width: 960px) {
    .main-nav__link {
      background-color: transparent;
      border: none;
      padding: 0;
      line-height: 18px;
      font-weight: normal;
      text-transform: none; } }
  .main-nav__link:hover {
    color: #d22856; }
  .main-nav__link:active {
    color: rgba(210, 40, 86, 0.3); }

@media (min-width: 660px) {
  .downloads {
    padding-left: 20px; } }

@media (min-width: 960px) {
  .downloads {
    padding-left: 130px; } }

.downloads__container {
  background-color: #283645;
  margin-top: 315px;
  padding: 28px 0 31px 0; }
  @media (min-width: 660px) {
    .downloads__container {
      margin-top: 0;
      background-color: transparent;
      padding-top: 30px; } }
  @media (min-width: 960px) {
    .downloads__container {
      padding-top: 36px; } }

@media (min-width: 660px) {
  .downloads__wrapper {
    width: 300px;
    margin: 0; } }

@media (min-width: 660px) {
  .downloads__wrapper-slogan {
    margin: 0;
    width: 300px;
    padding: 0 25px; } }

.downloads__slogan {
  margin: 0;
  text-align: center;
  color: white;
  font-weight: 300;
  font-size: 24px;
  line-height: 120%; }
  @media (min-width: 660px) {
    .downloads__slogan {
      padding: 0 17px;
      font-size: 40px;
      line-height: 120%; } }
  @media (min-width: 960px) {
    .downloads__slogan {
      padding: 0;
      font-size: 50px;
      line-height: 68px; } }

.downloads__link {
  display: inline-block;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  color: white;
  border: 3px solid white;
  border-radius: 29px;
  box-sizing: border-box;
  width: 100%;
  padding: 15px 0;
  text-align: center; }
  @media (min-width: 660px) {
    .downloads__link {
      font-size: 18px; } }
  @media (min-width: 960px) {
    .downloads__link {
      font-size: 21px; } }
  .downloads__link:hover {
    background-color: white;
    color: #d22856; }
  .downloads__link:active {
    background-color: white;
    color: rgba(210, 40, 86, 0.3); }

.downloads__list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin: 32px 0 18px 0;
  padding: 0 20px;
  display: flex;
  justify-content: space-around;
  align-items: flex-end; }
  @media (min-width: 660px) {
    .downloads__list {
      margin: 43px 0 30px 0;
      padding: 0 31px; } }
  @media (min-width: 960px) {
    .downloads__list {
      margin: 67px 0 48px 0; } }

.downloads__text {
  color: white;
  text-align: center;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  margin: 0; }
  @media (min-width: 660px) {
    .downloads__text {
      font-size: 18px;
      line-height: 24px; } }

.advantages {
  margin-top: 36px; }
  @media (min-width: 660px) {
    .advantages {
      margin-top: 47px; } }
  @media (min-width: 960px) {
    .advantages {
      margin-top: 62px; } }

.advantages__text {
  margin: 0;
  padding-bottom: 22px;
  font-weight: 300;
  font-size: 24px;
  text-align: center; }
  @media (min-width: 660px) {
    .advantages__text {
      padding: 0;
      font-size: 40px;
      line-height: 54px; } }
  @media (min-width: 960px) {
    .advantages__text {
      font-size: 50px;
      line-height: 68px; } }

.advantages__wrapper-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  min-height: 790px; }
  .advantages__wrapper-list::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 790px;
    background-color: #f2f2f2;
    bottom: 0;
    left: 0;
    z-index: -1;
    -webkit-clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 0% 4%);
            clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 0% 4%); }
    @media (min-width: 660px) {
      .advantages__wrapper-list::before {
        height: 490px;
        -webkit-clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 0% 12%);
                clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 0% 12%); } }
    @media (min-width: 960px) {
      .advantages__wrapper-list::before {
        height: 635px;
        -webkit-clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 0% 19%);
                clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 0% 19%); } }
  @media (min-width: 660px) {
    .advantages__wrapper-list {
      background-position: -36px;
      min-height: 490px;
      margin-top: 27px; } }
  @media (min-width: 960px) {
    .advantages__wrapper-list {
      background-image: url("../img/grey-background-desktop.svg");
      background-position: 0 0;
      min-height: 635px;
      margin-top: 50px; } }
  .advantages__wrapper-list--friends::after {
    position: absolute;
    content: "";
    width: 157px;
    height: 275px;
    background-image: url("../img/phone-mobile.png");
    background-size: cover;
    margin: 0 auto;
    bottom: 0;
    right: 50%;
    transform: translateX(50%); }
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
      .advantages__wrapper-list--friends::after {
        background-image: url("../img/phone-mobile@2x.png"); } }
    @media (min-width: 660px) {
      .advantages__wrapper-list--friends::after {
        background-image: url("../img/phone-tablet.png");
        width: 268px;
        height: 480px;
        transform: translateX(-15%); } }
  @media (min-width: 660px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 660px) and (min-resolution: 2dppx) {
    .advantages__wrapper-list--friends::after {
      background-image: url("../img/phone-tablet@2x.png"); } }
    @media (min-width: 960px) {
      .advantages__wrapper-list--friends::after {
        display: none; } }

.advantages__list {
  margin-top: 0;
  padding: 0;
  padding-top: 86px;
  position: relative;
  list-style: none;
  text-align: center; }
  @media (min-width: 660px) {
    .advantages__list {
      margin-top: 0;
      margin-left: auto;
      text-align: left;
      padding-top: 77px;
      width: 310px; } }
  @media (min-width: 960px) {
    .advantages__list {
      display: flex;
      justify-content: space-between;
      margin: 0 auto;
      padding-top: 362px;
      width: 100%;
      text-align: center; } }

.advantages-item {
  width: 280px;
  margin-bottom: 30px;
  position: relative; }
  @media (min-width: 660px) {
    .advantages-item {
      width: 100%;
      margin-bottom: 34px; } }
  @media (min-width: 960px) {
    .advantages-item {
      width: 300px;
      margin-bottom: 34px;
      padding: 0 30px; }
      .advantages-item::after {
        position: absolute;
        content: "";
        width: 300px;
        height: 17px;
        top: -34%;
        left: 50%;
        transform: translateX(-50%);
        background-image: url("../img/shadow-phone.svg");
        background-repeat: no-repeat; }
      .advantages-item::before {
        position: absolute;
        content: "";
        width: 186px;
        height: 300px;
        top: -100%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-repeat: no-repeat;
        background-size: cover; }
      .advantages-item--mood::before {
        background-image: url("../img/phone1.png"); } }
    @media (min-width: 960px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 960px) and (min-resolution: 2dppx) {
      .advantages-item--mood::before {
        background-image: url("../img/phone1@2x.png"); } }
  @media (min-width: 960px) {
      .advantages-item--change::before {
        background-image: url("../img/phone2.png"); } }
    @media (min-width: 960px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 960px) and (min-resolution: 2dppx) {
      .advantages-item--change::before {
        background-image: url("../img/phone2@2x.png"); } }
  @media (min-width: 960px) {
      .advantages-item--friends::before {
        background-image: url("../img/phone3.png"); } }
    @media (min-width: 960px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 960px) and (min-resolution: 2dppx) {
      .advantages-item--friends::before {
        background-image: url("../img/phone3@2x.png"); } }

.advantages-item__title {
  margin: 0;
  font-size: 18px;
  line-height: 24px;
  padding-bottom: 12px; }
  @media (min-width: 960px) {
    .advantages-item__title {
      font-size: 30px;
      line-height: 30px;
      padding-bottom: 25px; } }

.advantages-item__description {
  margin: 0;
  font-size: 14px;
  line-height: 24px; }
  @media (min-width: 960px) {
    .advantages-item__description {
      font-size: 18px;
      line-height: 30px; } }

.advantages-item__break {
  display: none; }
  @media (min-width: 660px) {
    .advantages-item__break {
      display: block; } }
  @media (min-width: 960px) {
    .advantages-item__break {
      display: none; } }

.research {
  display: none; }
  @media (min-width: 660px) {
    .research {
      display: block;
      margin-top: 52px; } }
  @media (min-width: 960px) {
    .research {
      display: block;
      background-color: #f2f2f2;
      margin-top: 0;
      padding-bottom: 65px; } }

@media (min-width: 660px) {
  .research__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .research__wrapper::before {
      content: "";
      display: block;
      width: 238px;
      height: 276px;
      background-image: url("../img/timer.svg");
      background-repeat: no-repeat; } }
    @media (min-width: 660px) and (min-width: 960px) {
      .research__wrapper::before {
        background-image: url("../img/timer-desktop.svg");
        width: 298px;
        height: 345px; } }

@media (min-width: 660px) {
  .research__slogan {
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 30px;
    line-height: 40px; } }

@media (min-width: 960px) {
  .research__slogan {
    line-height: 30px;
    margin-top: 0;
    margin-bottom: 28px; } }

@media (min-width: 660px) {
  .research__description {
    margin: 0;
    padding-bottom: 10px;
    font-size: 14px;
    line-height: 24px; } }

@media (min-width: 960px) {
  .research__description {
    font-size: 18px;
    line-height: 30px;
    padding-bottom: 31px; } }

@media (min-width: 660px) {
  .research__link {
    font-size: 14px;
    line-height: 24px;
    text-decoration: underline;
    color: #d22856; } }

@media (min-width: 960px) {
  .research__link {
    font-size: 18px;
    line-height: 30px; } }

@media (min-width: 660px) {
  .research__container {
    width: 310px; } }

@media (min-width: 960px) {
  .research__container {
    width: 535px;
    min-height: 200px;
    margin-right: 35px;
    margin-top: 45px; } }

.research__break {
  display: none; }
  @media (min-width: 660px) {
    .research__break {
      display: block; } }
  @media (min-width: 960px) {
    .research__break {
      display: none; } }

.research__slogan-break {
  display: none; }
  @media (min-width: 660px) {
    .research__slogan-break {
      display: block; } }
  @media (min-width: 960px) {
    .research__slogan-break {
      display: none; } }

.reviews {
  text-align: center; }

.reviews__control {
  display: none; }
  @media (min-width: 960px) {
    .reviews__control {
      background-color: transparent;
      border: none;
      display: block;
      top: 20%;
      position: absolute;
      content: "";
      width: 22px;
      height: 41px;
      background-repeat: no-repeat; }
      .reviews__control--prev {
        left: 0;
        background-image: url("../img/arrow.svg"); }
      .reviews__control--next {
        right: 0;
        background-image: url("../img/arrow.svg");
        transform: scale(-1, 1); } }

@media (min-width: 660px) {
  .reviews__switch {
    margin-top: 24px; } }

@media (min-width: 960px) {
  .reviews__switch {
    display: none; } }

.reviews__list {
  margin-top: 40px;
  margin-bottom: 28px; }
  @media (min-width: 660px) {
    .reviews__list {
      margin: 84px 0 16px; } }
  @media (min-width: 960px) {
    .reviews__list {
      margin: 170px 0 9px;
      padding: 0 75px 20px;
      position: relative; } }

.reviews-item {
  margin: 0;
  padding-bottom: 4px; }
  @media (min-width: 660px) {
    .reviews-item {
      display: flex;
      flex-direction: column-reverse; } }
  @media (min-width: 960px) {
    .reviews-item {
      font-size: 24px;
      position: relative; }
      .reviews-item::before {
        position: absolute;
        content: "";
        width: 79px;
        height: 63px;
        top: -47%;
        left: 50%;
        transform: translateX(-50%);
        background-image: url("../img/quotes.svg");
        background-repeat: no-repeat; } }

.reviews-item__author-name {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px; }
  @media (min-width: 660px) {
    .reviews-item__author-name {
      font-size: 20px; } }
  @media (min-width: 960px) {
    .reviews-item__author-name {
      font-size: 24px; } }

.reviews-item__text {
  font-size: 14px;
  line-height: 30px;
  margin: 15px 0 20px 0; }
  @media (min-width: 660px) {
    .reviews-item__text {
      font-size: 18px;
      margin: 15px 0 36px 0; } }
  @media (min-width: 960px) {
    .reviews-item__text {
      font-size: 18px;
      margin: 15px 0 38px 0; } }

.reviews-item__author-info {
  display: none; }
  @media (min-width: 660px) {
    .reviews-item__author-info {
      display: block;
      font-size: 14px;
      line-height: 30px;
      margin: 0; } }
  @media (min-width: 960px) {
    .reviews-item__author-info {
      font-size: 18px; } }

.tariffs {
  position: relative;
  width: 100vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding-top: 105px;
  padding-bottom: 6px;
  min-height: 480px; }
  .tariffs::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 475px;
    background-color: #f2f2f2;
    bottom: 0;
    left: 0;
    z-index: -1;
    -webkit-clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 0% 4%);
            clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 0% 4%); }
    @media (min-width: 660px) {
      .tariffs::before {
        height: 388px;
        -webkit-clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 0% 12%);
                clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 0% 12%); } }
    @media (min-width: 960px) {
      .tariffs::before {
        height: 534px;
        -webkit-clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 0% 19%);
                clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 0% 19%); } }
  @media (min-width: 660px) {
    .tariffs {
      padding-top: 94px;
      padding-bottom: 70px;
      min-height: 380px; } }
  @media (min-width: 960px) {
    .tariffs {
      padding-top: 155px;
      padding-bottom: 98px; } }

.tariffs__table {
  overflow: hidden;
  border-collapse: collapse;
  background-color: white; }

.tariffs__data {
  padding: 14px 18px 15px;
  width: 276px;
  border: 1px solid #e5e5e5;
  text-transform: uppercase; }
  @media (min-width: 660px) {
    .tariffs__data {
      width: 153px;
      padding: 7px 0; } }
  @media (min-width: 960px) {
    .tariffs__data {
      width: 233px;
      padding: 14px 0; } }
  .tariffs__data--pink, .tariffs__data--smile, .tariffs__data--comments {
    position: relative;
    display: flex;
    justify-content: space-between; }
    .tariffs__data--pink::before, .tariffs__data--smile::before, .tariffs__data--comments::before {
      font-size: 14px;
      line-height: 30px; }
      @media (min-width: 660px) {
        .tariffs__data--pink::before, .tariffs__data--smile::before, .tariffs__data--comments::before {
          display: none; } }
  .tariffs__data--pink::before {
    content: "Розовый фильтр"; }
  .tariffs__data--smile::before {
    content: "Смайлики"; }
  .tariffs__data--comments::before {
    content: "Комментарии"; }

.tariffs__switch {
  display: flex;
  justify-content: center;
  padding: 39px 0; }
  @media (min-width: 660px) {
    .tariffs__switch {
      display: none; } }

.tariffs__row {
  display: flex; }

@media (min-width: 660px) {
  .tariffs__icon {
    margin: 0 auto; } }

.tariffs-data__name {
  margin: 0;
  font-size: 16px;
  line-height: 30px;
  text-align: center; }
  @media (min-width: 960px) {
    .tariffs-data__name {
      font-size: 18px; } }

.tariffs-data__price {
  margin: 0;
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  text-align: center; }
  @media (min-width: 960px) {
    .tariffs-data__price {
      font-size: 24px;
      line-height: 30px; } }

.tariffs-data__function {
  display: none;
  font-size: 14px;
  line-height: 30px; }
  @media (min-width: 660px) {
    .tariffs-data__function {
      display: block;
      text-transform: none;
      padding-left: 12px; } }
  @media (min-width: 960px) {
    .tariffs-data__function {
      font-size: 18px;
      padding-left: 16px; } }

.tariffs-data__symbol {
  position: absolute;
  content: "";
  top: 0;
  left: 0; }
  @media (min-width: 660px) {
    .tariffs-data__symbol {
      width: 61px;
      height: 61px; } }
  @media (min-width: 960px) {
    .tariffs-data__symbol {
      width: 74px;
      height: 74px; } }

.tariffs-data--empty {
  background-color: #f2f2f2; }

.tariffs-data--hit {
  position: relative; }

.tariffs-data-header {
  background-color: #283645;
  color: white;
  padding: 12px 20px 30px; }
  @media (min-width: 660px) {
    .tariffs-data-header {
      padding: 12px 20px 12px; } }
  @media (min-width: 960px) {
    .tariffs-data-header {
      padding: 17px 20px 21px; } }

.contacts {
  text-align: center;
  margin-top: 40px; }
  @media (min-width: 660px) {
    .contacts {
      margin-top: 44px; } }
  @media (min-width: 960px) {
    .contacts {
      margin-top: 58px;
      margin-bottom: 30px; } }

.contacts__call {
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
  margin: 0;
  padding-bottom: 33px; }
  @media (min-width: 660px) {
    .contacts__call {
      font-size: 40px;
      line-height: 54px; } }
  @media (min-width: 960px) {
    .contacts__call {
      font-size: 50px;
      line-height: 68px;
      padding-bottom: 15px; } }

@media (min-width: 660px) {
  .contacts__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 25px; } }

@media (min-width: 960px) {
  .contacts__container {
    display: flex;
    justify-content: space-around;
    padding-top: 25px; } }

.contacts__wrapper {
  padding-bottom: 18px; }
  @media (min-width: 960px) {
    .contacts__wrapper {
      padding-left: 18px; } }
  @media (min-width: 660px) {
    .contacts__wrapper--address {
      grid-column-start: 1;
      grid-column-end: 3; } }
  @media (min-width: 960px) {
    .contacts__wrapper--address {
      padding-left: 37px; } }
  @media (min-width: 960px) {
    .contacts__wrapper--mail {
      order: 3; } }

.contacts__map {
  position: relative;
  margin: 0 auto;
  margin-top: 15px;
  padding-top: 16px;
  width: 100%;
  height: 200px;
  background-image: url("../img/map.jpg");
  background-repeat: no-repeat;
  background-size: cover; }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
    .contacts__map {
      background-image: url("../img/map@2x.jpg"); } }
  .contacts__map::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 35px;
    background-color: white;
    top: -1px;
    left: 0;
    -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
            clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    transform: rotate(180deg); }
    @media (min-width: 660px) {
      .contacts__map::before {
        height: 75px; } }
    @media (min-width: 960px) {
      .contacts__map::before {
        height: 104px; } }
  @media (min-width: 660px) {
    .contacts__map {
      height: 374px;
      padding-top: 5px;
      margin: 0 auto;
      background-image: url("../img/map-tablet.jpg"); } }
  @media (min-width: 660px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 660px) and (min-resolution: 2dppx) {
    .contacts__map {
      background-image: url("../img/map-tablet@2x.jpg"); } }
  @media (min-width: 960px) {
    .contacts__map {
      height: 502px;
      background-image: url("../img/map-desktop.jpg");
      padding: 0; } }
  @media (min-width: 960px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 960px) and (min-resolution: 2dppx) {
    .contacts__map {
      background-image: url("../img/map-desktop@2x.jpg"); } }

@media (min-width: 960px) {
  .contacts__mail {
    order: 3; } }

.contacts-feedback {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  margin: 0; }
  @media (min-width: 660px) {
    .contacts-feedback {
      line-height: 27px; } }
  @media (min-width: 960px) {
    .contacts-feedback {
      padding-bottom: 20px; } }

.contacts-feedback__link {
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  color: #d22856; }
  .contacts-feedback__link:hover {
    color: #283645; }
  .contacts-feedback__link:active {
    color: rgba(40, 54, 69, 0.3); }

.page-footer__wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 40px 0 33px 0; }
  @media (min-width: 660px) {
    .page-footer__wrapper {
      flex-direction: row;
      justify-content: space-between;
      padding: 3px 0 8px 0; } }
  @media (min-width: 960px) {
    .page-footer__wrapper {
      padding: 3px 0 39px 0; } }

.page-footer__copyright {
  display: flex;
  justify-content: space-around;
  align-items: flex-end; }
  @media (min-width: 660px) {
    .page-footer__copyright {
      padding-top: 8px; } }
  @media (min-width: 960px) {
    .page-footer__copyright {
      padding: 0; } }

@media (min-width: 960px) {
  .page-footer__img {
    width: 147px;
    height: 40px; } }

.copyright__text {
  font-size: 14px;
  line-height: 18px;
  margin-right: 15px; }
  @media (min-width: 960px) {
    .copyright__text {
      font-size: 18px; } }

.social {
  margin: 35px 0; }
  @media (min-width: 660px) {
    .social {
      margin: 36px 0;
      padding-right: 15px; } }
  @media (min-width: 960px) {
    .social {
      padding-right: 0;
      padding-left: 10px; } }

.social__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-around; }

.social__item {
  border: 3px solid rgba(40, 54, 69, 0.1);
  border-radius: 50%; }

.social__item:not(:last-child) {
  margin-right: 9px; }

.social__link {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center; }

.slider-switch__toggle {
  background-color: transparent;
  border: none;
  padding-right: 8px; }
  .slider-switch__toggle::before {
    content: "";
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: rgba(40, 54, 69, 0.3); }
  .slider-switch__toggle--current::before {
    width: 12px;
    height: 12px;
    border: 3px solid #283645; }
  .slider-switch__toggle:hover::before {
    background-color: rgba(40, 54, 69, 0.6); }
  .slider-switch__toggle:active::before {
    background-color: rgba(40, 54, 69, 0.1); }

.entry {
  margin: 0 auto; }

.entry__wrapper {
  margin-top: 45px; }
  @media (min-width: 660px) {
    .entry__wrapper {
      margin-top: 90px;
      margin-bottom: 42px; } }
  @media (min-width: 960px) {
    .entry__wrapper {
      margin-bottom: 30px; } }

.entry__text {
  margin: 0;
  font-size: 14px;
  line-height: 30px;
  text-align: center; }
  @media (min-width: 660px) {
    .entry__text {
      font-size: 18px; } }

.entry__text-request {
  display: none; }
  @media (min-width: 660px) {
    .entry__text-request {
      display: block;
      margin: 0;
      font-size: 18px;
      line-height: 30px;
      text-align: center; } }
  @media (min-width: 660px) {
    .entry__text-request {
      display: inline-block; } }

@media (min-width: 660px) {
  .entry__text-wrapper {
    padding: 0 65px; } }

@media (min-width: 960px) {
  .entry__text-wrapper {
    padding: 0 90px; } }

.form {
  margin-top: 35px; }
  @media (min-width: 660px) {
    .form {
      margin-top: 73px;
      display: grid; } }
  @media (min-width: 960px) {
    .form {
      width: 940px;
      margin: 0 auto;
      margin-top: 70px;
      display: grid;
      grid-template-columns: 430px 430px;
      gap: 0 72px; } }

.form__button {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: white;
  background-color: #2aab6d;
  border: 2px solid #2aab6d;
  border-radius: 1px;
  padding: 15px 46px; }
  @media (min-width: 660px) {
    .form__button {
      padding: 14px 56px 15px; } }

@media (min-width: 660px) {
  .form__wrapper-button {
    display: flex;
    justify-content: space-between;
    align-items: center; } }

@media (min-width: 960px) {
  .form__wrapper-button {
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 3; } }

.form__note {
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 33px; }
  @media (min-width: 660px) {
    .form__note {
      margin-top: 0;
      margin-bottom: 0; } }

.form__star {
  color: #d22856; }

@media (min-width: 960px) {
  .form-fieldset-wrapper {
    display: grid;
    grid-template-columns: auto auto;
    gap: 74px; } }

.form-fieldset {
  border: none;
  padding: 0; }
  @media (min-width: 960px) {
    .form-fieldset {
      border: 2px solid #e5e5e5; } }
  @media (min-width: 660px) {
    .form-fieldset--contacts {
      padding: 0 60px;
      margin-top: 30px;
      grid-row-start: 3;
      grid-row-end: 4;
      border: 2px solid #e5e5e5; } }
  @media (min-width: 960px) {
    .form-fieldset--contacts {
      width: 100%;
      margin-top: 18px;
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 3; } }
  @media (min-width: 960px) {
    .form-fieldset--data {
      width: 430px;
      border: none; } }

.form-fieldset__wrapper {
  display: flex;
  flex-direction: column; }
  @media (min-width: 660px) {
    .form-fieldset__wrapper {
      flex-direction: row;
      justify-content: space-around;
      margin-bottom: 56px; } }
  @media (min-width: 960px) {
    .form-fieldset__wrapper {
      margin-bottom: 41px;
      padding-top: 16px; } }
  @media (min-width: 660px) {
    .form-fieldset__wrapper--contacts {
      display: flex;
      flex-direction: column;
      margin-bottom: 23px; } }
  @media (min-width: 960px) {
    .form-fieldset__wrapper--contacts {
      margin-bottom: 7px; } }

.form-fieldset__label {
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  color: #d22856;
  padding-left: 22px;
  margin-bottom: 6px; }
  @media (min-width: 660px) {
    .form-fieldset__label {
      padding-left: 0;
      padding-top: 17px;
      padding-right: 17px; } }
  @media (min-width: 660px) {
    .form-fieldset__label--contacts {
      padding-left: 17px;
      padding-top: 12px;
      order: 2; } }

.form-fieldset__input {
  font-size: 18px;
  line-height: 30px;
  color: #283645;
  width: 100%;
  min-height: 60px;
  border: 2px solid #e5e5e5;
  padding-left: 25px;
  padding-top: 3px;
  margin-bottom: 20px; }
  @media (min-width: 660px) {
    .form-fieldset__input {
      margin-bottom: 0;
      padding-left: 22px; } }

.form-selection-wrapper {
  margin-top: 20px;
  margin-bottom: 30px;
  padding-top: 40px;
  background-color: #f2f2f2; }
  @media (min-width: 660px) {
    .form-selection-wrapper {
      margin-top: 0;
      margin-bottom: 30px;
      padding-top: 3px;
      background-color: transparent; } }
  @media (min-width: 660px) {
    .form-selection-wrapper--app {
      grid-row-start: 2;
      grid-row-end: 3; } }
  @media (min-width: 960px) {
    .form-selection-wrapper--app {
      width: 430px;
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 2;
      display: block; } }
  @media (min-width: 960px) {
    .form-selection-wrapper--achievments {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 3;
      grid-row-end: 4; } }

.form-selection {
  border: none;
  padding: 0; }
  @media (min-width: 660px) {
    .form-selection {
      width: 620px;
      margin: 0 auto;
      border: 2px solid #e5e5e5;
      background-color: transparent; } }
  @media (min-width: 960px) {
    .form-selection {
      width: 100%; } }
  @media (min-width: 660px) {
    .form-selection--app {
      grid-row-start: 2;
      grid-row-end: 3; } }
  @media (min-width: 660px) {
    .form-selection--achievements {
      margin-top: 57px; } }

@media (min-width: 660px) {
  .form-selection__wrapper {
    width: 100%; } }

.form-selection__subtitle {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #d22856;
  padding: 0 48px;
  margin-bottom: 45px; }
  @media (min-width: 660px) {
    .form-selection__subtitle {
      margin-bottom: 0; } }
  @media (min-width: 960px) {
    .form-selection__subtitle {
      padding: 0 20px; } }
  .form-selection__subtitle--contacts {
    display: none; }
    @media (min-width: 660px) {
      .form-selection__subtitle--contacts {
        display: block;
        margin-bottom: 35px; } }
    @media (min-width: 960px) {
      .form-selection__subtitle--contacts {
        margin-bottom: 18px; } }

.form-selection__list {
  margin: 0;
  padding: 0;
  list-style: none; }
  @media (min-width: 660px) {
    .form-selection__list {
      padding: 50px 60px 17px; } }
  @media (min-width: 960px) {
    .form-selection__list {
      display: grid;
      grid-template-columns: auto auto auto;
      padding: 48px 58px 17px;
      gap: 0 50px; } }
  @media (min-width: 960px) {
    .form-selection__list--app {
      display: flex;
      flex-direction: column;
      padding: 48px 74px 17px; } }
  @media (min-width: 660px) {
    .form-selection__list--achievements {
      padding-bottom: 3px; } }

.form-selection__label {
  font-size: 18px;
  line-height: 30px;
  position: relative;
  padding-left: 60px;
  padding-top: 10px;
  padding-bottom: 4px;
  cursor: pointer; }
  .form-selection__label--app {
    padding-left: 70px; }
    @media (min-width: 660px) {
      .form-selection__label--app {
        padding-left: 60px; } }

.form-selection__input + .form-selection__label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 39px;
  height: 39px;
  background-color: white;
  background-repeat: no-repeat;
  background-position: 0 0;
  border: 2px solid #e5e5e5;
  border-radius: 1px; }

.form-selection__input:checked + .form-selection__label::before {
  background-image: url("../img/tick.svg");
  background-position: 50% 50%; }

.form-selection__radio + .form-selection__label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 39px;
  height: 39px;
  background-color: white;
  background-repeat: no-repeat;
  background-position: 0 0;
  border: 2px solid #e5e5e5;
  border-radius: 50%; }

.form-selection__radio:checked + .form-selection__label::after {
  content: "";
  position: absolute;
  left: 12px;
  top: 30%;
  width: 15px;
  height: 15px;
  background-color: #d22856;
  background-position: 50% 50%;
  border-radius: 50%; }

.form-selection__item {
  margin-bottom: 51px; }
  .form-selection__item--app {
    margin-bottom: 43px; }
    @media (min-width: 960px) {
      .form-selection__item--app {
        margin-bottom: 45px; } }
  @media (min-width: 960px) {
    .form-selection__item--beach {
      grid-row-start: 2;
      grid-row-end: 3;
      grid-column-start: 1;
      grid-column-end: 2; } }
  @media (min-width: 960px) {
    .form-selection__item--souvenirs {
      grid-row-start: 2;
      grid-row-end: 3;
      grid-column-start: 2;
      grid-column-end: 3; } }

.form-description {
  margin-bottom: 35px;
  margin-top: 40px;
  border: none; }
  @media (min-width: 660px) {
    .form-description {
      padding: 35px 60px 45px;
      margin-top: 28px;
      margin-bottom: 66px;
      border: 2px solid #e5e5e5; } }
  @media (min-width: 960px) {
    .form-description {
      width: 100%; } }
  @media (min-width: 960px) {
    .form-description--story {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 4;
      grid-row-end: 5; } }

.form-description__subtitle {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #d22856; }
  @media (min-width: 660px) {
    .form-description__subtitle {
      padding: 0 35px; } }

.form-description__text {
  font-family: "Open Sans", "Arial", sans-serif;
  color: #283645;
  font-size: 18px;
  line-height: 30px;
  padding-top: 12px;
  padding-left: 19px;
  padding-right: 19px;
  width: 276px;
  min-height: 197px;
  border: 2px solid #e5e5e5;
  border-radius: 1px; }
  @media (min-width: 660px) {
    .form-description__text {
      padding-top: 14px;
      width: 496px;
      min-height: 195px; } }
  @media (min-width: 960px) {
    .form-description__text {
      width: 100%;
      min-height: 124px; } }

.form-description__wrapper {
  margin-top: 12px; }
  @media (min-width: 660px) {
    .form-description__wrapper {
      margin-top: 0; } }

.modal {
  display: none; }

.photos {
  padding-top: 45px; }
  @media (min-width: 660px) {
    .photos {
      padding-top: 90px; } }

.photos__list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin: auto; }
  @media (min-width: 660px) {
    .photos__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; } }

.photos__intro {
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  margin: 0;
  padding: 0 15px; }
  @media (min-width: 660px) {
    .photos__intro {
      font-size: 18px;
      padding: 0 30px; } }
  @media (min-width: 960px) {
    .photos__intro {
      padding: 0 150px; } }

.photos__main {
  margin-top: 50px;
  position: relative; }
  @media (min-width: 660px) {
    .photos__main {
      margin-top: 78px;
      margin-bottom: 56px; } }
  @media (min-width: 960px) {
    .photos__main {
      margin-top: 90px;
      margin-bottom: 53px; } }

.photos__main-link {
  margin: 0 auto; }

.photos__symbol {
  position: absolute;
  display: inline-block;
  top: 0;
  right: 20px;
  font-weight: bold;
  font-size: 12px;
  line-height: 24px;
  padding: 6px 20px;
  margin: 0;
  color: white;
  text-transform: uppercase;
  background-color: #d22856; }

.photos-blockquote {
  padding: 17px 9px 19px 17px;
  background-color: #f2f2f2; }
  @media (min-width: 660px) {
    .photos-blockquote {
      padding: 23px 9px 19px 30px; } }

.photos-blockquote__user {
  display: inline-block;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  font-style: normal; }
  @media (min-width: 660px) {
    .photos-blockquote__user--state {
      grid-column-start: 1;
      grid-column-end: 2; } }

.photos-blockquote__time {
  display: inline-block;
  margin: 0;
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase; }

.photos-blockquote__text {
  margin: 0;
  font-size: 14px;
  line-height: 24px; }
  @media (min-width: 660px) {
    .photos-blockquote__text--state {
      grid-column-start: 1;
      grid-column-end: 3; } }

.photos-blockquote__like {
  position: relative;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: #d22856;
  padding-left: 30px;
  margin-top: 11px;
  margin-bottom: 0; }
  .photos-blockquote__like::before {
    position: absolute;
    content: "";
    width: 13px;
    height: 12px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-image: url("../img/heart.svg");
    background-repeat: no-repeat;
    background-position-y: center; }
    @media (min-width: 660px) {
      .photos-blockquote__like::before {
        right: 0;
        left: auto; } }
  @media (min-width: 660px) {
    .photos-blockquote__like {
      padding-left: 0;
      margin-top: auto; } }
  @media (min-width: 660px) {
    .photos-blockquote__like--state {
      margin: 0;
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 2;
      text-align: right;
      padding-right: 30px;
      align-self: end; } }

@media (min-width: 660px) {
  .photos-blockquote__break {
    display: none; } }

@media (min-width: 660px) {
  .photos-item {
    width: 300px; } }

.photos-item__statement {
  width: 100%;
  margin: 0 auto; }
  @media (min-width: 660px) {
    .photos-item__statement {
      min-height: 155px;
      display: flex;
      flex-direction: column;
      padding: 23px 30px; } }

.photos-item__wrapper {
  margin-top: 20px; }
  @media (min-width: 660px) {
    .photos-item__wrapper {
      margin-top: 0;
      margin-bottom: 20px; } }
  @media (min-width: 960px) {
    .photos-item__wrapper {
      margin-bottom: 55px; } }

.photo-editor {
  margin-top: 43px; }
  @media (min-width: 960px) {
    .photo-editor {
      margin-top: 0;
      margin-bottom: 56px; } }

.photo-editor__slogan {
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  margin-bottom: 42px; }
  @media (min-width: 660px) {
    .photo-editor__slogan {
      font-size: 18px; } }
  @media (min-width: 960px) {
    .photo-editor__slogan {
      margin: 0; } }

.photo-editor__picture {
  margin: auto; }
  @media (min-width: 660px) {
    .photo-editor__picture {
      width: 300px;
      height: 400px;
      margin: 0; } }
  @media (min-width: 960px) {
    .photo-editor__picture {
      margin: 0; } }

.photo-editor__background {
  padding-top: 20px;
  background-color: #f2f2f2;
  padding-bottom: 30px; }
  @media (min-width: 660px) {
    .photo-editor__background {
      margin-top: 72px;
      padding-top: 37px;
      padding-bottom: 50px; } }
  @media (min-width: 960px) {
    .photo-editor__background {
      width: 940px;
      margin: auto;
      margin-top: 69px;
      padding-top: 0;
      padding-bottom: 5px; } }

@media (min-width: 660px) {
  .photo-editor__wrapper {
    display: flex;
    padding-top: 20px;
    justify-content: space-between; } }

@media (min-width: 960px) {
  .photo-editor__wrapper {
    padding: 55px 60px 55px 80px; } }

@media (min-width: 960px) {
  .photo-editor__container {
    width: 410px;
    margin-left: 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; } }

.photo-editor__tools {
  display: flex;
  justify-content: space-around;
  margin-top: 44px;
  margin-bottom: 33px;
  padding: 0 30px 0 15px; }
  @media (min-width: 660px) {
    .photo-editor__tools {
      flex-direction: column;
      margin-top: 0;
      margin-bottom: 37px;
      padding: 0 24px 0 15px; } }
  @media (min-width: 960px) {
    .photo-editor__tools {
      width: 410px;
      padding: 0 28px 0 0; } }

@media (min-width: 660px) {
  .photo-editor__wrap {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-top: 9px;
    margin-bottom: 17px; } }

@media (min-width: 960px) {
  .photo-editor__wrap {
    padding-top: 0; } }

.photo-editor__range {
  padding-bottom: 34px;
  position: relative; }
  .photo-editor__range::after {
    position: absolute;
    content: "";
    width: 320px;
    height: 1px;
    background-color: #283645;
    opacity: 0.1;
    bottom: 0;
    left: -20px; }
    @media (min-width: 660px) {
      .photo-editor__range::after {
        width: 275px;
        left: -30px; } }
    @media (min-width: 960px) {
      .photo-editor__range::after {
        width: 410px;
        left: -87px; } }
  @media (min-width: 660px) {
    .photo-editor__range {
      padding-top: 10px; } }
  @media (min-width: 960px) {
    .photo-editor__range {
      padding-top: 20px; } }

.photo-editor__button {
  background-color: transparent;
  border: none;
  width: 100%;
  display: block;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  margin: 0 auto;
  padding: 15px 0 15px 0;
  margin-bottom: 12px;
  margin-top: 10px; }
  .photo-editor__button--post {
    color: #d22856;
    border: 3px solid #d22856;
    border-radius: 30px; }
    @media (min-width: 660px) {
      .photo-editor__button--post {
        margin-bottom: 25px; } }
    @media (min-width: 960px) {
      .photo-editor__button--post {
        margin-right: 40px;
        padding: 0;
        height: 100%; } }
  @media (min-width: 960px) {
    .photo-editor__button {
      margin-top: 0; } }
  .photo-editor__button--cancel {
    opacity: 0.1;
    border: 3px solid;
    box-sizing: border-box;
    border-radius: 30px; }
    @media (min-width: 660px) {
      .photo-editor__button--cancel {
        margin-bottom: 0; } }

.photo-editor__button-wrapper {
  margin-top: 40px; }
  @media (min-width: 660px) {
    .photo-editor__button-wrapper {
      margin-top: 50px;
      padding: 0 10px; } }
  @media (min-width: 960px) {
    .photo-editor__button-wrapper {
      display: flex;
      margin: 0;
      padding: 0; } }

@media (min-width: 660px) {
  .photo-editor__img--correction {
    width: 22px;
    height: 22px; } }

@media (min-width: 960px) {
  .photo-editor__img--correction {
    width: 44px;
    height: 44px; } }

@media (min-width: 660px) {
  .photo-editor__img--color {
    width: 24px;
    height: 22px; } }

@media (min-width: 960px) {
  .photo-editor__img--color {
    width: 48px;
    height: 43px; } }

@media (min-width: 660px) {
  .photo-editor__img--contrast {
    width: 16px;
    height: 16px; } }

@media (min-width: 960px) {
  .photo-editor__img--contrast {
    width: 32px;
    height: 32px; } }

.range-photo-editor__scale {
  position: relative;
  width: 240px;
  height: 2px;
  background-color: #283645;
  margin-left: 20px; }
  @media (min-width: 660px) {
    .range-photo-editor__scale {
      width: 202px; } }
  @media (min-width: 960px) {
    .range-photo-editor__scale {
      width: 288px; } }

.range-photo-editor--state {
  display: none; }
  @media (min-width: 660px) {
    .range-photo-editor--state {
      display: block; } }

@media (min-width: 660px) {
  .range-photo-editor--hide {
    display: none; } }

.range-photo-editor__switch {
  position: absolute;
  width: 14px;
  height: 14px;
  background-color: white;
  border: 2px solid #d22856;
  border-radius: 50%;
  transform: translateY(-50%);
  left: 213px; }
  @media (min-width: 660px) {
    .range-photo-editor__switch--color {
      left: 50px; } }
  @media (min-width: 960px) {
    .range-photo-editor__switch--color {
      left: 265px; } }
  @media (min-width: 660px) {
    .range-photo-editor__switch--correction {
      left: 172px; } }
  @media (min-width: 960px) {
    .range-photo-editor__switch--correction {
      left: 87px; } }
  @media (min-width: 660px) {
    .range-photo-editor__switch--contrast {
      left: 120px; } }
  @media (min-width: 960px) {
    .range-photo-editor__switch--contrast {
      left: 175px; } }

.photo-link__picture {
  margin: auto; }
  @media (min-width: 660px) {
    .photo-link__picture {
      width: 300px;
      height: 300px; } }
  @media (min-width: 960px) {
    .photo-link__picture {
      height: 400px; } }
  @media (min-width: 660px) {
    .photo-link__picture--main {
      width: 660px;
      height: 509px; } }
  @media (min-width: 960px) {
    .photo-link__picture--main {
      width: 1200px;
      height: 506px; } }

@media (min-width: 660px) {
  .photos-main__statement {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    padding: 22px 27px 19px 30px; } }

@media (min-width: 960px) {
  .photos-main__statement {
    padding: 22px 27px 22px 30px; } }

/*# sourceMappingURL=style.css.map */
